@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans';
  box-sizing: border-box;
  font-weight: 600;
}

.dark{
    background-color: black;
    color: white
}

.light{
    background-color: white;
    color: black;
}

.projects-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
    min-width: 320px;
    max-width: 100%;
}

.projects-landing-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects-landing-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%;
}
.projects-landing-description-paragraph{
    text-align: center;
    width: 80%;
}
.projects-landing-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%;    
}

.project-list-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    flex-wrap: wrap;
}

.project-item-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 15px;
    background-color: #f7f7f8;
    outline: none;
    border: none;
    border-radius: 14px;
    margin: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.card-heading-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-item-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 15px;
    color: white;
    border: 0px solid #f7f7f8;
    outline: none;
    border-radius: 14px;
    margin: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s; 
}

.link-item{
    margin-left: 10px;
    font-size: 25px;
}

.project-technologies-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}
.text{
    font-size: 10px;
}
.project-technology-item{
    padding: 5px;
    font-size: 40px
}
.project-card-description{
    width: 90%;
    font-size: 12px;
}

.html{
    color: #f06529;
}

.css{
    color: #2965f1
}

.js{
    color: #f0db4f
}

.react{
    color: #61dbfb
}

.clearmargin{
    margin-top: 10px;
    margin-bottom: 10px   
}

.project-item-light:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.project-item-dark:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #4285F4;
}

@media screen and (max-width: 320px){
    .projects-landing-section{
        flex-direction: column;
    }
    .project-list-container{
        flex-direction: column;
        justify-content: center;
    }
    .project-item-light{
        max-width: 275px;
    }
    .project-item-dark{
        max-width: 275px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .projects-landing-section{
        flex-direction: column;
    }
    .project-list-container{
        flex-direction: column;
        justify-content: center;
    }
    .project-item-dark{
        max-width: 340px;
    }
    .project-item-light{
        max-width: 340px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .projects-landing-section{
        flex-direction: column;
    }
    .projects-landing-description{
        max-width: 370px;
    } 
    .projects-landing-image{
        max-width: 370px;
    }
    .project-list-container{
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (min-width: 426px) and (max-width:768px){
    .project-item-light{
        max-width: 310px;
    }
    .project-item-dark{
        max-width: 310px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .project-item-light{
        max-width: 280px;
    }
    .project-item-dark{
        max-width: 280px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .project-item-light{
        max-width: 350px;
    }
    .project-item-dark{
        max-width: 350px;
    }
    
}
