@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans';
}

.dark{
    background-color: black;
    color: white
}

.light{
    background-color: white;
    color: black;
}

.projects-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
    min-width: 320px;
    max-width: 100%;
}
.project-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    width: 100%;
}
.project-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%; }
.projects-heading{
    color: #4285F4;
    font-weight: 600;
    font-size: 35px;
}
.projects-description{
    width: 80%;
    text-align: center;
    font-weight: 600;
}
.project-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%;
}
.projects-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0px 30px 0px;
}
.project-item-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    border: 1px solid;
    padding: 20px;
    background-color: #f7f7f8;
    outline: none;
    border: none;
    border-radius: 14px;
    margin: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.project-item-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    border: 1px solid;
    padding: 20px;
    color: white;
    border: 0px solid #f7f7f8;
    outline: none;
    border-radius: 14px;
    margin: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;    
}

.heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project-item-heading{
    margin-right: 20px;
    font-weight: 800;
    font-size: 30px;
}
.link-item{
    font-size: 25px;
}
.technology-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}
.technology-item{
    padding: 5px;
    font-size: 40px;
}
.html{
    color: #f06529;
}
.css{
    color: #2965f1
}
.js{
    color: #f0db4f
}
.react{
    color: #61dbfb
}
.clearmargin{
    margin-top: 10px;
    margin-bottom: 10px   
}
.project-item-light:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
.project-item-dark:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #4285F4;
}
@media screen and (max-width: 320px) {
    .project-container{
        flex-direction: column;
    }
    .projects-description{
        width: 320px;
    }
}

@media screen and (max-width: 425px){
    .project-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .project-item{
        width: 250px;
    }
    .project-item-heading{
        font-size: 20px;
    }
    .link-item{
        font-size: 15px;
    }
    .project-description{
        font-size: 14px;
    }
}

@media screen and (min-width: 769px) , (max-width: 1024px){
    .project-item{
        width: 300px;
    }    
}