*{
    font-weight: 600;
    line-height: 1.6;
}
.dark{
    background-color: black;
    color: white
}
.light{
    background-color: white;
    color: black;
}
.home-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    padding: 0px 30px 0px 30px;
}
.introduction-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    max-width: 50%;
}
.intro-heading{
    color: #ffa500
}
.setlineheight{
    margin: 0px 0px 0px 0px;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2de28d;
    border-radius: 10px;
    padding: 4px;
    margin-left: 10px;
}
.person{
    margin-left: 14px;
    padding: 8px;
    background-color: #2de28d;
    border-radius: 10px;
}
.myself{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.typewriter h1 {
  color: #4285F4;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4285F4;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .01em; /* Adjust as needed */
  animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
  font-size: 45px
  
}
.intro-description{
    width: 100%;
    text-align: left;
    font-weight: 600;
}
.home-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%;
}
.social-icons-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}
.icon-item{
    padding: 5px;
    font-size: 40px;
}
.linkedin{
    color: #0077b5;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 250px;
}
.mail-button{
    margin: 14px 0px 0px 0px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 15px #4285F4;
    padding: 14px;
}
.light-button{
    color: #4285F4;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.dark-button{
    color: white;
}
.mail-button-light:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #4285F4;
}
.mail-button-dark:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
ul{
    padding-left: 0px;
}
.webdev-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.web-dev-heading{
    margin: 0px;
}
.technology-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    min-width: 320px;
    max-width: 100%;
    flex-wrap: wrap; 
    margin-bottom: 14px;
}
.technology-item{
    padding: 5px;
    font-size: 40px;
}
.html{
    color: #f06529;
    padding-left: 0px;
}
.git-light{
    color: black;
}
.git-dark{
    color: white;
}
.css{
    color: #2965f1
}
.bootstrap{
    color: #563d7c;
}
.js{
    color: #f0db4f
}
.react{
    color: #61dbfb
}
.node{
    color: #3c873a;
}
.sql{
    color: #5bc0de;
}
.npm{
    color:#cc3534
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0px;
    padding: 0px;
}
.div .text{
    visibility: hidden;
}
.div:hover .text{
    visibility: visible;
}
.webdev-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    min-width: 320px;
    max-width: 50%;
    line-height: 1.6;
}
.li-item{
    width: 90%;
}

@keyframes typewriter {
    0% { width:0 }
    25% { width: 70% }
    48% { width: 100% }
    50% { width: 100% }
    55% { width: 100% }
    75% { width: 70%; }
    85% { width: 30%; }
    100% { width: 0; }
}
  
@keyframes blinking-cursor {
    from { border-color: transparent }
    to { border-color: #4285F4}
}

@media screen and (max-width: 320px), (max-width: 375px), (max-width: 425px) {
    .introduction-main-container{
        flex-direction: column;
    }
    .intro-description{
        width: 100%;
        text-align: center;
    }
    .webdev-container{
        flex-direction: column;
        justify-content: center;
    }
    .resume-container{
        align-self: center;
    }
    .social-icons-container{
        align-self: center;
    }
    .intro-container{
        justify-content: center;
        align-items: center;
    }
    .typewriter h1{
        font-size: 30px;
    }
}