*{
    font-weight: 600;
    line-height: 1.6;
}
.dark{
    background-color: black;
    color: white
}
.light{
    background-color: white;
    color: black;
}
.dark-person{
    color: white;
    background-color: #2de28d;
}
.light-person{
    color: black;
}
.home-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    padding: 0px 30px 0px 30px;
}
.introduction-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    max-width: 50%;
}
.intro-heading{
    color: #ffa500;
    font-size: 50px
}
.setlineheight{
    margin: 0px 0px 0px 0px;
}
.myname{
    font-size: 20px;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2de28d;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.person-background{
    margin-left: 14px;
    padding: 8px;
    background-color: #2de28d;
    border-radius: 10px;
    font-size: 20px;
}
.myself{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.typewriter h1 {
  color: #4285F4;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4285F4;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .01em; /* Adjust as needed */
  animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
  font-size: 45px
  
}
.contactme-button-light{
    background-color: #4285F4;
    color: white;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 130px;
}
.margin{
    margin: 0px 14px 0px 0px;
}
.intro-description{
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
}
.home-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 50%;
}
.social-icons-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}
.icon-item{
    padding: 5px;
    font-size: 50px;
}
.linkedin{
    color: #0077b5;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}
.mail-button{
    margin: 0px 14px 0px 0px;
    padding: 12px;
    background-color: #4285F4;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 14px;
}
.light-button{
    color: #4285F4;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.dark-button{
    color: white;
}
.contactme-button-light:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.contactme-button-dark:hover{
    -moz-transform: scale(1.05) rotate(0deg);
    -webkit-transform: scale(1.05) rotate(0deg);
    -o-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
ul{
    padding-left: 0px;
}
.what-i-do{
    font-size: 30px;
}
.webdev-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.web-dev-heading{
    margin: 0px;
    font-size: 30px;
    color: #4285F4;
}
.technology-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    min-width: 320px;
    max-width: 100%;
    flex-wrap: wrap; 
    margin-bottom: 14px;
}
.technology-item{
    padding: 5px;
    font-size: 50px;
}
.html{
    color: #f06529;
    padding-left: 0px;
}
.git-light{
    color: black;
}
.git-dark{
    color: white;
}
.css{
    color: #2965f1
}
.bootstrap{
    color: #563d7c;
}
.js{
    color: #f0db4f
}
.react{
    color: #61dbfb
}
.node{
    color: #3c873a;
}
.sql{
    color: #5bc0de;
}
.npm{
    color:#cc3534
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.div .text{
    visibility: hidden;
}
.div:hover .text{
    visibility: visible;
}
.webdev-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    min-width: 320px;
    max-width: 50%;
    line-height: 1.6;
}
.li-item{
    width: 90%;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
.iam{
    font-size: 20px;
}

@keyframes typewriter {
    0% { width:0 }
    25% { width: 70% }
    48% { width: 100% }
    50% { width: 100% }
    55% { width: 100% }
    75% { width: 70%; }
    85% { width: 30%; }
    100% { width: 0; }
}
  
@keyframes blinking-cursor {
    from { border-color: transparent }
    to { border-color: #4285F4}
}

@media screen and (max-width: 320px) {
    .introduction-main-container{
        flex-direction: column;
    }
    .intro-description{
        width: 100%;
        text-align: center;
    }
    .webdev-container{
        flex-direction: column;
        justify-content: center;
    }
    .resume-container{
        align-self: center;
    }
    .social-icons-container{
        align-self: center;
    }
    .intro-container{
        justify-content: center;
        align-items: center;
    }
    .typewriter h1{
        font-size: 30px;
    }
    .technology-container{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .introduction-main-container{
        flex-direction: column;
    }
    .intro-description{
        width: 100%;
        text-align: center;
    }
    .webdev-container{
        flex-direction: column;
        justify-content: center;
    }
    .resume-container{
        align-self: center;
    }
    .social-icons-container{
        align-self: center;
    }
    .intro-container{
        justify-content: center;
        align-items: center;
    }
    .typewriter h1{
        font-size: 30px;
    }    
    .technology-container{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
    .introduction-main-container{
        flex-direction: column;
    }
    .intro-description{
        width: 100%;
        text-align: center;
    }
    .webdev-container{
        flex-direction: column;
        justify-content: center;
    }
    .resume-container{
        align-self: center;
    }
    .social-icons-container{
        align-self: center;
    }
    .intro-container{
        justify-content: center;
        align-items: center;
    }
    .typewriter h1{
        font-size: 30px;
    }    
    .li-item{
        font-size: 16px;
        min-width: 100%;
    }
    .technology-container{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .introduction-main-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    } 
    .intro-heading{
        font-size: 60px;
    }
    .iam{
        font-size: 30px;
    }
    .myname{
        font-size: 30px;
    }
    .person-background{
        font-size: 30px;
    }
    .name{
        width: 350px;
    }
    .typewriter h1{
        font-size: 40px;
    }
    .intro-description{
        font-size: 18px;
    }
    .icon-item{
        font-size: 60px;
    }
    .contactme-button-light{
        font-size: 18px;
        width: 200px;
    }
    .what-i-do{
        font-size: 30px;
    }
    .web-dev-heading{
        font-size: 30px;
    }
    .technology-item{
        font-size: 60px;
    }
    .webdev-description{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .li-item{
        font-size: 16px;
    }  
    .social-icons-container{
        align-self: center;
    } 
    .resume-container{
        width: 100%;
        justify-content: space-around;
    }
    .webdev-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .webdev-description{
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .intro-heading{
        font-size: 50px;
    }
    .iam{
        font-size: 50px;
    }
    .myname{
        font-size: 40px;
    }
    .person-background{
        font-size: 40px;
    }
    .myself{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .name{
        width: 450px;
    }
    .typewriter h1{
        font-size: 50px;
    }
    .intro-description{
        font-size: 18px;
    }
    .icon-item{
        font-size: 60px;
    }
    .contactme-button-light{
        font-size: 18px;
        width: 200px;
    }
    .what-i-do{
        font-size: 50px;
    }
    .web-dev-heading{
        font-size: 40px;
    }
    .technology-item{
        font-size: 60px;
    }
    .webdev-description{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .li-item{
        font-size: 20px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .intro-heading{
        font-size: 100px;
    }
    .iam{
        font-size: 50px;
    }
    .myname{
        font-size: 50px;
    }
    .person-background{
        font-size: 50px;
    }
    .myself{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .name{
        width: 550px;
    }
    .typewriter h1{
        font-size: 60px;
    }
    .intro-description{
        font-size: 20px;
    }
    .icon-item{
        font-size: 60px;
    }
    .contactme-button-light{
        font-size: 18px;
        width: 200px;
    }
    .what-i-do{
        font-size: 60px;
    }
    .web-dev-heading{
        font-size: 56px;
    }
    .technology-item{
        font-size: 60px;
    }
    .webdev-description{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .li-item{
        font-size: 20px;
    }    
}