@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
    font-weight: 600;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
.nav-item:hover{
    background-color: #4285F4; 
    color: white;  
}
.dark{
    background-color: black;
    color: white
}
.light{
    background-color: white;
    color: black;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    padding: 0px 30px 0px 30px;
}
.heading{
    font-family: 'Style Script';
}
.nav-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}
.nav-item{
    font-size: 14px;
    padding: 14px;
    font-weight: 600;
}
.mobile-nav-item{
    padding: 5px;
    font-size: 25px;
}
a:hover{
    background-color: #4285F4;
}
.nav-mobile-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width:425px) {
    .nav-container{
        display: none;
    }
    .nav-mobile-container{
        display: flex;
    }
}
@media screen and (min-width: 426px) {
    .nav-container{
        display: flex;
    }
    .nav-mobile-container{
        display: none;
    }
}